# Cache dell'interprete Python
__pycache__/
*.py[cod]

# Ambienti virtuali
.venv/
venv/
ENV/

# File di stato dei notebook Jupyter
.ipynb_checkpoints/

# File temporanei di Windows
Thumbs.db
ehthumbs.db
Desktop.ini
~$*